@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.profile {
    
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .profile .frame-2 {
    
    background-color: #e8c9c0;
    border-radius: 25px;
    display: flex;
    height: 64px;
    left: 264px;
    padding: 0px 25px;
    position: absolute;
    top: 27px;
    width: 970px;
  }
  
  .profile .title-prof {
    color: #000000;
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .profile .image-container {
    position: absolute;
    top: 20%;
    justify-content: center;
      background-position: 50% 50%;
      background-size: cover;
      height: 160px;
      left: 659px;
      position: absolute;
      top: 114px;
      width: 160px;
      overflow: hidden;
       border-radius: 50%;
    
  }
  .profile .ellipse{
    width: 100%;
  height: 100%;
  object-fit: cover; 
  }

  .profile .pen {
    background-image: url(../../aset/Ellipse\ 9.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    left: 699px;
    position: absolute;
    top: 174px;
    width: 100px;
  }
  
  .profile .group {
    background-color: #d9d9d9;
    border-radius: 25px;
    height: 50px;
    left: 765px;
    position: relative;
    top: 233px;
    width: 50px;
  }
  
  .profile .pen {
    height: 28px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 28px;
  }

  .profile .group-username {
    height: 127px;
    left: 294px;
    position: absolute;
    top: 288px;
    width: 400px;
  }

  .profile .group-email {
    height: 127px;
  left: 294px;
  position: absolute;
  top: 399px;
  width: 400px;
  }

  .profile .group-lokasi {
    height: 127px;
  left: 294px;
  position: absolute;
  top: 509px;
  width: 400px;
  }

  .profile .group-status {
    height: 127px;
    left: 803px;
    position: absolute;
    top: 288px;
    width: 400px;
  }

  .profile .group-phone {
    height: 127px;
  left: 803px;
  position: absolute;
  top: 399px;
  width: 400px;
  }

  .profile .group-password {
    height: 127px;
  left: 803px;
  position: absolute;
  top: 509px;
  width: 400px;
  }


  .profile .label-username, .label-email, .label-lokasi, .label-status, .label-phone, .label-password {
    color: #6d6d6d;
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }

  .profile .input-username, .input-email, .input-lokasi, .input-status, .input-phone, .input-password{
    align-items: center;
    background-color: #e8c9c0;
    border: 2px solid #6d6d6d;;
    border-radius: 20px;
    display: flex;
    height: 55px;
    left: 0;
    overflow: hidden;
    padding: 14px 39px;
    position: absolute;
    top: 42px;
    width: 400px;
    font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    font-weight: 400;
  }

  .profile .username {
    color: #000000;
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -5.5px;
    margin-top: -9.5px;
    position: relative;
    width: fit-content;
  }

  .profile .btn-sv{
    align-items: center;
  background-color: #b86161;
  color: #ffffff;
  font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    font-weight: 400;
  border-radius: 20px;
  display: inline-flex;
  border: none;
  flex-direction: column;
  height: 55px;
  gap: 10px;
  justify-content: center;
  left: 298px;
  padding: 5px 40px;
  position: absolute;
  top: 646px;
  }